* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.calculatorBody {
  box-shadow: 10px 10px 0px grey;
  margin-top: 2%;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
}

.display {
  margin-top: 20px;
  width: 800px;
  height: 80px;
}

canvas {
  padding-bottom: 30px;
  border-bottom: 5px solid grey;
}

.buttons {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
  height: 500px;
  width: 700px;
  margin-left: 50px;
  margin-top: 50px;
}

.numButtons {
  margin-top: 20px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.numButtons .calcbutton:nth-child(10) {
  background-color: #820404;
}

.calcbutton {
  background-color: grey;
  color: black;
  border-color: grey;
  font-size: 1.5em;
  text-shadow: 2px 2px 3px black;
  box-shadow: 2px 2px 3px grey;
}

.funcbuttons {
  margin-top: 20px;
  margin-left: 20px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.funcbuttons #square {
  order: 1;
}

.funcbuttons .calcbutton:last-of-type {
  background-color: #820404;
  grid-column-start: 2;
  grid-row: span 2;
}

.funcbuttons .calcbutton:nth-child(5) {
}
